body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }
  .principal {
    flex: 3;
    margin-right: 20px;
  }
  .lateral {
    flex: 1;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }
  form {
    margin-bottom: 20px;
  }
  label {
    display: block;
    margin-top: 10px;
  }
  input {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  button {
    padding: 10px 20px;
    background: #0066cc;
    color: white;
    border: none;
    cursor: pointer;
  }
  button:hover {
    background: #005bb5;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
  }
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  .actions i {
    margin-right: 10px;
    cursor: pointer;
  }
  
  /* Responsivo */
  @media (max-width: 768px) {
    .container {flex-direction: column;}
    .principal {margin-right: 0;}}
    input {
        padding: 10px;
        margin-bottom: 10px;
        width: 100%;
        box-sizing: border-box;
      }
      body{background-image: url(fotofunfo.jpeg);
    background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;}

h2{color: #fff;
    font-family: Arial, Helvetica, sans-serif;
font-size: 28px;}
label {color: #fff;
    border: 1px solid #000;      /* borda preta */
    padding: 5px 10px;           /* espaço interno pra não colar no texto */
    border-radius: 4px;}